#visitor {
	margin:0;
	background-color:#FFF;
	height: 100%;
	overflow: hidden;
}
#visitor textarea {
	resize: none;
}
#visitor table {
	color: #FFF;
	height: 400px;
}
#visitor #header, #visitor #footer {
	width:100%;
	height:80px; 
	overflow:hidden; 
	margin: 0 auto; 
}
#visitor #header, #visitor #footer {
	background:#9C3;
}
#visitor #footer {
	position: absolute;
	bottom: 0;
}
#visitor #maskot {
	position: absolute;
  top: 140px;
  left: -350px;
  overflow: hidden;
  width: 300px;
}
#visitor #maskot img {
	height: 360px;
}
#visitor #container{
	left: -750px;
	height:500px;
	width:750px;
	position:relative;
	top:500px;
	z-index:0;
}
#visitor #content{
  padding: 20px 10px;
  width: 100%;
  font-size: 15px;
  font-family: "Roboto", "Lucida Grande", sans-serif;
  text-align: justify;
  color: #333;
}
#visitor #content img{
	text-align:center;
}
#visitor .member, #visitor .button.check-in {
	left: 80px;	
}
#visitor .non-member, #visitor .button.check-out {
	left: 100px;
}
#visitor .from-right{
	position: relative;
	left: 900px;
}
#visitor .button {	
	height:250px;
	width:250px;
	position:relative;
	margin-left:10px;
	cursor:pointer;
	color:#FFF;
	font-size:25px;
	float: left;
	font-family:"Roboto", "Lucida Grande", sans-serif;
	padding-left:10px;
	text-align:left;
  margin-top: 5em;
}
#visitor .button p {
  text-align: center;
  position: relative;
  top: 48px;
}
#visitor .button span {
  display: block;
  font-size: 100px;
  margin-bottom: 10px;
}
#visitor #backbutton, #back{
	position:relative;
	left:830px;
	cursor:pointer;
}
#visitor #addbutton{
	position:relative;
	left:760px;
	cursor:pointer;
}
#visitor #backbutton span{
  color: #FFF;
  font-size: 44px;
}
#visitor #caption, #pagecaption{
	position:relative;
	top:-60px;
	left: 120px;
	color:#FFF;
	font-size:25px;
	font-family:"Roboto", "Lucida Grande", sans-serif;
}
#visitor #logo {
	top: -60px;
}
#visitor #logo img {
	height: 100%;
}
#visitor .bg-member {
	background: #069;
}
#visitor .bg-non-member {
	background: #9C3;
}
#visitor .info {
	height: 110px;
  padding: 20px 10px 5px;
  cursor: pointer;
}
#visitor #checked {
	margin: auto;
}
#visitor #checked td, #checked th {
	padding: 5px;
	/*width: 20%;*/
}
/*
#visitor #checked tr {
	display: table-row-group;
}
*/
#visitor #checked tr {
  display: grid;
  float: left;
  width: 18%;
  margin: 5px;
  text-align: center;
}
#visitor .checked {
	left: -750px;
	top: -490px !important;
}
#visitor .nav a {
  font-size: 24px;
  color: #FFF;
  padding: 10px 18px 4px;
  margin: 0px 4px;
}
#visitor .nav {
  text-align: center;
}
#visitor .confirm div {
	border-radius: 10px;
  padding: 30px;
  border: solid 1px #d9534f;
  text-align: center;
	position: relative;
  top: 160px;
}
#visitor .survey div {
  text-align: center;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #428bca;
  top: 55px;
}
#visitor .survey img {
  width: 200px;
}
#visitor .survey p {
	margin-top: 10px;
	display: block;
}
#visitor .wrapper {
	background: #FFF;
	width: 750px;
	height: 500px;
	position: absolute;
	left: 750px;
}
#visitor #member, #visitor #non-member, #visitor #checked {
	padding: 10px 0;
}
#visitor tfoot, #visitor thead {
	display: none;
}
#visitor #notification {
	left: 0;
	opacity: 0;
	display: none;
	z-index: 5;
	background: transparent;
}
#visitor #notification div {
	top: 40px
}
#visitor .user-icon {
	color: #FFF;
	font-size: 100px;
	border-radius: 100px;
  padding: 0 5px;
}
#visitor .user-icon i {
	top:24px;
}
/* Data table style */
.dataTables_filter, .dataTables_paginate {
	text-align: center;
}
.dataTables_filter input {
	font-weight: normal;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 600;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: white;
  background: #069;
  color: #FFF;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: #9C3;
	color: #FFF;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: #069;
}